@import "tailwindcss/index.css";

@theme {
  --color-matcha-600: #8DA05E;
  --color-matcha-500: #A4B465;
  --color-matcha-400: #B7C686;
  --color-matcha-300: #D9E5A3;
  --color-matcha-100: #F0F4E1;
  --color-cream-50: #FDFCF5;
  --color-cream-100: #F9F7E8;
  --color-forest-900: #2D391F;
  --color-forest-700: #3A4D1F;
}

@layer base {
  :root {
    --background: #FDFCF5;
    --foreground: #2D391F;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', system-ui, sans-serif;
}